<app-navbar/>

<div class="profile-container">
  <div class="profile-info">
    <div class="profile-data">
      <div class="profile-username">Username: {{user.username}}</div>
      <div class="profile-email">Email: {{user.email}}</div>
      <div class="profile-name">Full name: {{user.name}}</div>
      <div class="profile-role">Role: {{user.role}}</div>
    </div>
  </div>
  <div class="profile-stats">
    <div class="profile-stats-title">Stats</div>
    <div class="profile-stats-data">
      <div class="profile-stats-wins">Wins: {{user.stats.wins}}</div>
      <div class="profile-stats-losses">Losses: {{user.stats.losses}}</div>
      <div class="profile-stats-kills">Kills: {{user.stats.kills}}</div>
      <div class="profile-stats-deaths">Deaths: {{user.stats.deaths}}</div>
      <div class="profile-stats-hits">Hits: {{user.stats.hits}}</div>
      <div class="profile-stats-headshots">Headshots: {{user.stats.headshots}}</div>
      <div class="profile-stats-WR">Win Rate: {{user.stats.WR}}%</div>
      <div class="profile-stats-KDR">Kill/Death Ratio: {{user.stats.KDR}}</div>
      <div class="profile-stats-HSp">Headshot Percentage: {{user.stats.HSp}}%</div>
    </div>
  </div>