<app-navbar/>
<div *ngIf="isLoading">Loading...</div>
<div *ngIf="!isLoading">
    <div class="create-lobby-container">
        <input [(ngModel)]="lobbyName" placeholder="Introdu numele">
        <button (click)="createLobby()">Creeaza lobby</button>
    </div>
    <div class="lobby-container">
        <div class="lobby" *ngFor="let lobby of lobbies" (click)="selectLobby(lobby)">
            <h2>{{ lobby.name }}</h2>
            <p>Capitan: {{ lobby.lobbyLeader }}</p>
            <div *ngIf="selectedLobby === lobby">
                <p>Jucatori:</p>
                <ul>
                    <li *ngFor="let player of lobby.players">{{ player }}</li>
                </ul>
                <button *ngIf="currentLobby === ''" class="button join-button" (click)="joinLobby(lobby.lobbyLeader)">Intra</button>
                <button *ngIf="currentLobby !== '' && currentLobby !== lobby.name" class="button joined-button">Esti deja intr-un lobby</button>
                <button *ngIf="currentLobby === lobby.name" class="button join-button" (click)="leaveLobby(lobby.lobbyLeader)">Paraseste lobby-ul</button>
                <button *ngIf="currentLobby !== lobby.name && leaders.includes(username)" class="button attack-button" (click)="attackLobby(lobby.lobbyLeader)">Ataca</button>
            </div>
        </div>
    </div>
    
    
</div>
