<app-navbar/>
<div class="app">
  <div class="dashboard">
    <h1>Salut {{username}}</h1>
    <h2>Istoric meciuri:</h2>
    <div *ngIf="isLoading">Loading...</div>
    <div *ngIf="!isLoading">
      <div *ngFor="let match of matchHistory" class="match">
        <h3 (click)="redirectToGame(match.gameId)">{{match.attackerLobbyName}} vs {{ match.defenderLobbyName }}</h3>
        <p>{{ match.result }} - {{match.score}} </p>
      </div>
      <div class="pagination">
        <button class="pagination-btn" [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)">Inapoi</button>
        <span>Pagina {{ currentPage }}</span>
        <button class="pagination-btn" [disabled]="currentPage * itemsPerPage >= totalItems" (click)="onPageChange(currentPage + 1)">Inainte</button>
      </div>
  </div>
</div>